*{
    color: #AF9FA5;
    font-family: 'Josefin Sans', sans-serif;
}
a:hover{
    color: #ff934F;
}
article{
    padding: 10px;
}
address{
    color: black;
}
header{
    background-color: #002626;
    margin-bottom: 5px;
    /* position: relative; */
    /* position: fixed; */
}
.content-main{
    /* background-color: #385f71; */
    min-height: 50px ;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding: 10px; */
    /* border: 1px solid #0E4749; */    
}
.content-aside{
    /* background-color: orange; */
    min-height: 50px;
    border: 1px solid black;
    padding: 10px;
}
.bgPrimary{
    background-color: #0E4749;
}
.bgSecondary{
    background-color: #fFEFD6;
}
.bgTertiary{
    background-color: #385f71;
}
.text-white{
    color: #EFE7da;
}
footer{
    min-height: 56px;
    color: black;
    /* background-color: chartreuse; */
    /* border: 1px solid black; */
    justify-content: center;
    margin: 5px 2px;
    text-align: center;
}
.margin-top{
    margin-top: 85px;
}
.imgBlock{
    display: block;
    margin: auto;
    width: 90%;
    max-width: 500px;
    /* align-self: center;
    display: flex */
}
.imgHeader{
    max-width: 56px;
}
.imgFooter{
    display: inline-block;
    max-height: 56px;
}
.fb-200 {
    flex-basis: 200px;
}
.fb-full-200 {
    flex-basis: calc(100% - 200px);
    padding: 0px 10px;
}
.testDiv{
    margin: 85px 10px 10px;
}
.fb-200 .imgBlock:hover{
    transform: scale(1.5);
}
.input-contact{
    padding: 10px;
    width: 80%;
}
textarea {
    width: 99%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    color: black;
  }
input[type=submit]{
    padding: 12px 20px;
    margin: 10px;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;

}
input[type=submit]:hover {
    box-shadow: inset 0px 0px 5px black;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    color: #EFE7da;
}
h3{
    color: #EFE7da;
    font-family: 'Anton', sans-serif;
}
.in-text-link{
    color: #ff934F;
}
.in-text-link:hover{
    color: #fFEFD6;
}
li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
@media (max-width:992px){
    aside{
        margin-top: 10px;
    }
    main{
        padding-left: 10px;
    }
    .content-main{
        justify-self:center;
    }
    .comment-box{
        padding-top: 10px;
    }
}
@media (max-width: 768px){
    .imgFooter{
        max-height: 40px;
    }
    footer{
        min-height: 40px;
        font-size: small;
    }
    aside{
        margin-bottom: 20px;
    }
}
